canvas {
    display: block;
    margin: auto;
    border: 15px solid honeydew;
}
*{
    background-color: black;
}
h1{
    color: #fff;
    text-align: center;
}
canvas{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}